@model HomeTG.Models.CollectionCardWithDetails

@{
    string imagePath = "";
    bool skip = Model.MtGCard.CardIdentifiers?.ScryfallId == null;
    if (skip)
    {
        imagePath = @"https://api.scryfall.com/cards/30502f07-760c-46d1-8b4a-d4bd4a23201f?format=image";
    } else {
        imagePath = @"https://api.scryfall.com/cards/" + Model.MtGCard.CardIdentifiers?.ScryfallId + "?format=image";
    }
}
 <div id="@Html.DisplayFor(modelItem => Model.Card!.Id)" class="card">
    <img class="lazyload" src="@imagePath" alt="@Html.DisplayFor(modelItem => Model.MtGCard.Name)" lazyload="on" />
    <div class="card-info" data-id="details-@Html.DisplayFor(modelItem => Model.Card!.Id)">

        <div class="row mb-3 align-items-center">
            <span class="name">@Model.MtGCard.Name</span>
            <span class="setCode">@Model.MtGCard.SetCode</span>
        </div>

    @{
        if (!skip)
            await Html.RenderPartialAsync("CardDetails", Model.Card); 
    }
    </div>
</div>
