@model HomeTG.Models.CollectionCard

<p>Collection @Html.DisplayFor(modelItem => Model.Collection)</p>
<div class="d-flex align-items-center">
    <span class="mr-2">Quantity</span>
    <button class="btn btn-outline-secondary mr-2" type="button" onclick="updateQuantity('@Html.DisplayFor(modelItem => Model.Id)', -1, 0)">-</button>
    <span class="text-center mr-2">@Html.DisplayFor(modelItem => Model.Quantity)</span>
    <button class="btn btn-outline-secondary" type="button" onclick="updateQuantity('@Html.DisplayFor(modelItem => Model.Id)', 1, 0)">+</button>
</div>
<div class="d-flex align-items-center">
    <span class="mr-2">Foils</span>
    <button class="btn btn-outline-secondary mr-2" type="button" onclick="updateQuantity('@Html.DisplayFor(modelItem => Model.Id)', 0, -1)">-</button>
    <span class="text-center mr-2">@Html.DisplayFor(modelItem => Model.FoilQuantity)</span>
    <button class="btn btn-outline-secondary" type="button" onclick="updateQuantity('@Html.DisplayFor(modelItem => Model.Id)', 0, 1)">+</button>
</div>
